html, body{
	font-family: 'Dosis', sans-serif;
	position: relative;
	width: 100%;
	height: 100%;
}

.wrapper{
	position: relative;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


.alto-completo{
	position: relative;
	height: 100%;
}

.obj-centrar{
	position: relative;
	margin: 0 auto;
	text-align: center;
}
.obj-izq{
	margin-left: 0;
	margin-right: auto;
}
.obj-der{
	margin-left: auto;
	margin-right: 0;
}

.link-ttm{
	outline: none;
	display: inline-block;
	text-decoration: none;
}

.espaciado-a{
	margin-top: 10px;
	margin-bottom: 10px;
}

.row-sinborde{
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.v-center-contenedor {
	display: table;
	height: 100%;
	width: 100%;
	position: relative;
}

.v-center-contenido{
	display: table-cell;
	vertical-align: middle;
}

.v-bottom-contenido{
	display: table-cell;
	vertical-align: bottom;
}
.v-center-contenido-h{
	text-align: center;
}

.mayusculas{
	text-transform: uppercase;
}

.frm-error{
	display: inline;
	margin-right: 10px;
	margin-left: 0px;
	background-color: #EFC02D;
	margin-top: 0;
	margin-bottom: 0;
}


.obj-centrar{
	position: relative;
	margin: 0 auto;
}

.txt-mayus{
	text-transform: uppercase;
}
.txt-blanco{
	color: #FFFFFF;
}




/*
///////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////
*/



/*Media Querys*/
/* Large desktop */
@media (min-width: 1921px) {

}

@media (min-width: 1200px) {

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	html, body{
		position: relative;
		height: auto;
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	html, body{
		position: relative;
		height: auto;
	}
}


input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
   text-transform: uppercase;
}

/* Firefox 18- */
input:-moz-placeholder,
textarea:-moz-placeholder {
   text-transform: uppercase;
}

/* Firefox 19+ */
input::-moz-placeholder,
textarea::-moz-placeholder {
   text-transform: uppercase;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
   text-transform: uppercase;
}


/*
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
*/
